/RAG_venv
2021-석사학위논문-황창회.pdf
230703-석사학위논문-최수원-최종.pdf
증권 기사의 자질 기반 감성 분석을 위한 주석 데이터 구축 연구_202130112_윤정우.pdf
.env
.pdf
Applied Text Analysis with Python_English.pdf
namuwiki-test_db/index.faiss
namuwiki-test_db/index.pkl
